@import '~@primer/css/markdown/index.scss';
@import '~@primer/css/forms/form-select.scss';
@import '~@primer/css/forms/form-control.scss';

.wrapper {
	margin: 20px auto;
	width: 60%;
	.content {
		border: solid 1px rgb(209, 213, 218);
		border-radius: 3px;
		padding: 20px;
		form {
			text-align: center;
			padding: 10px;
			.form-div {
				padding-top: 5px;
				padding-bottom: 5px;
			}
			.form-select {
				font-size: 16px;
				padding-bottom: 6px;
				padding-left: 8px;
				padding-right: 24px;
				padding-top: 6px;
				-webkit-appearance: none;
				-moz-appearance: none;
				text-indent: 1px;
				text-overflow: '';
			}
			.form-control {
				font-size: 16px;
				padding: 0px;
				padding-left: 6px;
			}
			input[type=number].form-control {
				padding: 0;
				padding-left: 6px;
			}
		}
	}
	.commen-tk {
		padding-top: 10px;
	}
}

.hljs- {
	&tag {
		color: rgb(36, 41, 46);
	}
	&title {
		color: rgb(25, 97, 40);
	}
	&attribute {
		color: rgb(111, 66, 193);
	}
	&value {
		color: rgb(3, 47, 98);
	}
}
