@import '~@primer/css/markdown/index.scss';
@import '~@primer/css/forms/index.scss';

.wrapper {
	margin: 20px auto;
	width: 60%;
	.content {
		border: solid 1px rgb(209, 213, 218);
		border-radius: 3px;
		padding: 20px;
		#input-owner-repo {
			padding: 10px;
		}
		.form-select {
			-webkit-appearance: none;
			-moz-appearance: none;
		}
		.form-checkbox label {
			font-weight: normal;
		}
		p.warning {
			text-align: center;
			font-weight: lighter;
			color: red;
			padding: 10px;
		}
		pre .btnWrapper {
			float: right;
			position: relative;
			button {
				background-color: rgb(250, 251, 252);
				border-radius: 6px;
				border: 1px solid rgb(225, 228, 232);
				box-shadow: rgba(149, 157, 165, 0.1) 0px 1px 0px 0px,
					rgba(255, 255, 255, 0.25) 0px 2px 0px 0px inset;
				box-sizing: border-box;
				font-weight: 600;
				color: rgb(36, 41, 46);
				padding: 6px 16px;
				outline: none;
				&:hover {
					background-color: rgb(243, 244, 246);
				}
			}
		}
	}
	.commen-tk {
		padding-top: 10px;
	}
}

.form-control {
	min-height: 0;
}

.hljs- {
	&tag {
		color: rgb(36, 41, 46);
	}
	&title {
		color: rgb(25, 97, 40);
	}
	&attribute {
		color: rgb(111, 66, 193);
	}
	&value {
		color: rgb(3, 47, 98);
	}
}
